<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FortuneWheel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FortuneWheel.Presentation.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-light">    
    <div class="main-container">

        <ul class="menu" data-navigation="true">
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAll" ? "active" : "")">
                @Html.ActionLink("Get all", "GetAll", "Wheel")
            </li>

            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Options"
             || ViewContext.RouteData.Values["Action"].ToString() == "Select") ? "active" : "")">
                @Html.ActionLink("Options", "Options", "Wheel")
            </li>

            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")">
                @Html.ActionLink("Logout", "Logout", "Auth")
            </li>
        </ul>

        <div class="main-page">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
