@model WheelOfFortune.Models.Auth.SignUpModel
@{
    Layout = "_AuthLayout";
}

<div class="auth-card-body">
    <h5 class="auth-title">Sign up</h5>
    <form method="post" class="auth-form" asp-controller="Auth" asp-action="SignUp">
        <div class="auth-input-group">
            <input type="text" class="form-control auth-input" placeholder="Email" asp-for="Email">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>

        <div class="auth-input-group">
            <input type="text" class="form-control auth-input" placeholder="Name" asp-for="Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="auth-input-group">
            <input type="text" class="form-control auth-input" placeholder="Surname" asp-for="Surname">
            <span asp-validation-for="@Model.Surname" class="text-danger"></span>
        </div>

        <div class="auth-input-group">
            <input type="password" class="form-control auth-input" placeholder="Password" asp-for="Password">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>

        <div class="auth-input-group">
            <input type="password" class="form-control auth-input" placeholder="Confirm password" asp-for="ConfirmPassword">
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="btn btn-primary auth-submit-btn" type="submit">Submit</button>
    </form>
    <button class="continue-with-google-btn" onclick="location.href='@Url.Action("ContinueWithGoogle", "GoogleOAuth")'">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google Logo">
        Continue with Google
    </button>
</div>